@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";


@theme {
  --color-canvas: #f7f3ed;
  --color-ink: #1b1b1f;
  --color-muted: #8a8680;
  --color-coral: #ff6b4a;
  --color-teal: #0e7c66;
  --color-cream: #fff8f0;
}